<!-- 參考來源 (Alex 宅幹嘛) 
    https://www.youtube.com/watch?v=7al2b8dfWk0&list=PLEfh-m_KG4dapPjoPvWX0c8JCK6-mIvGr&index=9 
    
    https://www.youtube.com/watch?v=KQRfZ07bfAQ&list=PLEfh-m_KG4dapPjoPvWX0c8JCK6-mIvGr&index=10
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/all.css">
    <title>Vue TodoList</title>
</head>

<body>
    <div id="app">
        <input-component @custom-input="inputHandler" v-model="inputText"></input-component>

        <input-component2 @custom-input="inputHandler2"></input-component2>

        <filter-component @filter="filterHandler"></filter-component>
        <ul>
            <li is="list-item-component" 
            v-for="(item,index) of filterList" 
            :key="item.timestamp" 
            :item="item" 
            :editing="editing" 
            @change="changeHandler"
            @delete="deleteHandler" 
            @edit="editHandler" 
            @complate="completeHandler" 
            @cancel="cancelHandler"></li>
        </ul>
    </div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
<script src="./index.js"></script>

</html>
