<!-- 參考來源 (Alex 宅幹嘛) 
    https://www.youtube.com/watch?v=7al2b8dfWk0&list=PLEfh-m_KG4dapPjoPvWX0c8JCK6-mIvGr&index=9 
    
    https://www.youtube.com/watch?v=KQRfZ07bfAQ&list=PLEfh-m_KG4dapPjoPvWX0c8JCK6-mIvGr&index=10
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/all.css">
    <title>Vue TodoList</title>
</head>

<body>
    <div id="app">
        <!-- composition : 輸入法的開始與結束 -->
        <!-- <p>
            <input type="text" v-model="inputText" 
            @compositionstart="cstartHandler" 
            @compositionend="cendHandler"
            @keyup.enter="inputHandler">
        </p> -->
        <input-component @custom-input="inputHandler" v-model="inputText"></input-component>

        <input-component2 @custom-input="inputHandler2" ></input-component2>

        <!-- <p>
            <button @click="show = 'all'">全部</button>
            <button @click="show = 'open'">未完成</button>
            <button @click="show = 'done'">完成</button>
        </p> -->
        <filter-component @filter="filterHandler"></filter-component>
        <ul>
            <!-- :key 建議搭配後端的 primary key-->
            <li v-for="(item,index) of filterList" :key="item.timestamp">
                <template v-if="editing === item">
                    <input type="text" v-model="editingText">
                    <button @click="completeHandler">完成</button>
                    <button @click="cancelHandler">取消</button>
                </template>
                <template v-else>
                    <input type="checkbox" v-model="item.status">{{item.content}}
                    <button @click="editHandler(item)">修改</button>
                    <button @click="deleteHandler(item)">刪除</button>
                </template>
            </li>
        </ul>
    </div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
<script src="./index.js"></script>

</html>
